/*----------------------------*/
/*----------- MAIN -----------*/
/*----------------------------*/

body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    font-family: 'Josefin Slab', serif;
    font-family; 'Poiret One', cursive;
}

.page-content{
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: .15em;
    margin-top: 100px;
    color: #BB2E6D;
}

h3{
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    padding-top: 120px;
    color: #457575;
    z-index: 10;
}

#timeline {
    margin-top: 100px;
    position: relative;
    width: 850px;
}

#line {
    width: 10px;
    position: relative;
    margin-top: -6325px;
    margin-left: 425px;
    height: 5872px;
    border-left: 2px solid #457575;
}

.years{
    width: 400px;
    position: relative;
    margin: 0;
}

h3.years{
    width: 175px;
    left: 100px;
}

#circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #E2E8E3;
    position: relative;
    left: 88px;
    top: -120px;
}

#cover-image{
    margin-top: -20px;
    width: 100%;
    margin-bottom: 100px;
}

.oval{
    height: 200px;
    width: 715px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    right: -565px;
    top: -498px;
    background-color: #E2E8E3;
    z-index: 1
}

.icons{
    display: inline-block;
    width: 175px;
    position: relative;
    right: -600px;
    top: -308px;
    padding-left: 30px;
    padding-right: 15px;
    z-index: 10;
}



/*----------------------------*/
/*----------- 1940 -----------*/
/*----------------------------*/

.1940 {
    
}

/*----------------------------*/
/*---------- FOOTER ----------*/
/*----------------------------*/

footer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
}
