/* --------------------------------------------- */
/* --------- Branding: Color Palette ----------- */
/* --------------------------------------------- */
/* These are the colors of the boxes under the Branding section */
#swatch1{
	background-color: #ffffff;
    border: 2px solid black; 
}	
#swatch2{
	background-color: #565656;
}	
#swatch3{
	background-color: #000000;
}	
#swatch4{
	background-color: #339999;
}		

/* ----------------------------------------------------- */
/* --------- Typography: Heading & Body Copy ----------- */
/* ----------------------------------------------------- */
/* These are the font families of all the headings and body copy */

body{
	font-family: 'Josefin Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Cardo' , serif;
}


/* -------------------------------------------------- */
/* --------- Navigation: Main & Secondary ----------- */
/* -------------------------------------------------- */
/* Colors, style, floating, shapes, etc of main & secondary navs */

/* Main Navigation Style */
#mainnav{
text-align: center;
}
#mainnav ul{

}
#mainnav li{
	display: inline;
	font-family: 'Cardo', serif;
	letter-spacing: 3px;
	font-size: 1.2em;
	color: #ffffff;
	padding: 30px;	
}
#mainnav a:link{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
	/* other styles */
}
#mainnav a:visited{
	color: #339999;
	/* other styles */
}
#mainnav a:hover{
	color: #339999;
	/* other styles */
}
#mainnav a:active{
	color: #339999;
	/* other styles */
}


/* Secondary Navigation Style */
#secondnav{
	font-size: .8em;
	position: relative;
	background-color: black;
	opacity: 0.6;
	padding: 10px;
	margin-bottom: -30px;
}
#secondnav ul{
text-align: center;
}
#secondnav li{
	display: inline;
	padding: 10px;
	bottom: 0;
}
#secondnav a:link{
	list-style-type: none;
	text-decoration: none;
	color: #565656;
	/* other styles */
}
#secondnav a:visited{
	color: #565656;
	/* other styles */
}
#maisecondnavnnav a:hover{
	color: #339999;
	/* other styles */
}
#secondnav a:active{
	color: #565656;
	/* other styles */
}




/* ----------------------------------- */
/* --------- HTML Elements ----------- */
/* ----------------------------------- */
/* Styling for all HTML Elements */

/* True for all headings */
h1, h2, h3 ,h4, h5, h6{
	letter-spacing: 1px;
	color: #339999;
	font-family: 'Cardo' , serif;
	letter-spacing: 3px;
}


/* Style for individual headings */
h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}


/* List Styles */
ul{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
}
ul li{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
}

ol{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
}
ol li{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
}


/* Non-Navigational Link Styles */
/* This is for all default links on your page */
a:link{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
}
a:visited{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
}
a:hover{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
}
a:active{
	list-style-type: none;
	text-decoration: none;
	color: #339999;
}

/* This is for secondary link styles (possibly in your footer, etc) */
.linkstyle2 a:link{
	list-style-type: none;
	text-decoration: none;
	color: 339999;
}
.linkstyle2 a:visited{
	list-style-type: none;
	text-decoration: none;
	color: 339999;
}
.linkstyle2 a:hover{
	list-style-type: none;
	text-decoration: none;
	color: 339999;
}
.linkstyle2 a:active{
	list-style-type: none;
	text-decoration: none;
	color: 339999;
}


/* Paragraph Styles */
p{
	color: #339999;
	/* Other paragraph styles */
}


/* Figure and Figcaption Styles */

figure{
	margin: 0px;
	padding: 2px;	
}
figure img{	
}
figcaption{
	margin-left: 45px;
}

/* ------------------------------------- */
/* --------- Style Guide CSS ----------- */
/* ------------------------------------- */
/* The following CSS is used for the styling of the structure of the Style Guide itself */
body{
	width: 700px;
	margin: 10px auto;
	border: 1px solid #777;
	padding: 20px;
}

.styleguide{
	font-family: "Courier New", Courier, monospace;
}
h1.styleguide, h2.styleguide, h3.styleguide, h4.styleguide, h5.styleguide, h6.styleguide{
	color: #777;
	font-family: "Courier New", Courier, monospace;
}
h2.styleguide{
    background-color: #777;
    border-radius: 15px;
    padding: 15px;
    margin-left: -15px;
    color: white;
}
p.styleguide{
	color: #777;
	font-family: "Courier New", Courier, monospace;
}

section{
    margin-top: -10px;
    margin-bottom: 70px; 
}
.colorgroup{
    float: left;
    width: 170px;
}
.colorgroup h4{
	font-size: .9em;
}
.colorgroup p{
    font-size: .8em;
}
.clear{
    clear: both;
}
.swatches{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
